@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  display: flex;
}

.active ul {
  flex-direction: column;
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: #ccc;
  width: 100%;
  text-align: center;
  padding: 2rem;
}
